.mainCont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    background: #F5F7FA;

}
.heroContent > h1{
    font-size: 64px;
    font-weight: 600;
    color: #4D4D4D;


}
.content{
    display: flex;
    flex-direction: column;
    gap:20px;
}
@media screen and (max-width: 760px) {
    .heroimg{display:none}
    .heroContent > h1{
        font-size: 30px;
    }

}